html, *, *:before, *:after  {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}



.hljs {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0 0 10px 0;
}

.pre {
  font-family: arial;
}

.home-art {
  background-color: white;
  margin-top: -80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.home-art .container {
  max-width: 1200px;
  margin: auto;
}

.jumbo {
  margin: -10px;
  padding: 20px 10px 20px 10px;
  height: 200px;
  background-color: #4e9a06;
  color: white;
}

.jumbo h1 {
  font-weight: 100;
  font-size: 40px;
}

.jumbo p {
  font-weight: 500;
}


.site-header {
  background: #333;
  color: white;
  padding: 5px;
}

.site-header .logo {
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin: 0 20px 0 10px;
}

.site-header li, a {
  display: inline-block;
}

.site-header ul.left {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.site-header ul.right {
  margin: 0;
  padding: 0;
}

.site-header li {
  list-style-type: none;
}

.site-header li a {
  text-decoration: none;
  padding: 10px;
  color: white; 
}

.site-header ul.right a {
  margin-right: 10px;
}

.site-header li a.active {
  background-color: #4e9a06;
}

.site-header .callout {
  background-color: #000;
  font-weight: bold;
  border: 1px solid white;
}









main {
  padding: 10px;
}

ul.blocks {
  padding: 0;
  margin: 0;
}
.blocks li {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
  border: 3px solid black;
  padding: 10px;
}


@media (min-width: 800px) {
  .site-header nav {
    display: flex;
    align-items: center;
  }

  .half-float {
    width: 49%;
    float: left;
  }
}