html, *, *:before, *:after  {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.hljs {
  font-size: 100%;
}

body {
  font-family: arial;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0 0 10px 0;
}




.site-header {
  background: #333;
  color: white;
  padding: 5px;
}

.site-header .logo {
  font-weight: 900;
  margin: 0 20px 0 10px;
}

.site-header li, a {
  display: inline-block;
}

.site-header ul.left {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.site-header ul.right {
  margin: 0;
  padding: 0;
}

.site-header li {
  list-style-type: none;
}

.site-header li a {
  text-decoration: none;
  padding: 10px;
  color: white; 
}

.site-header ul.right a {
  margin-right: 10px;
}

.site-header li a.active {
  background-color: #4e9a06;
}

.site-header .callout {
  background-color: #000;
  font-weight: bold;
  border: 1px solid white;
}









main {
  padding: 10px;
}

ul.blocks {
  padding: 0;
  margin: 0;
}
.blocks li {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
  border: 3px solid black;
  padding: 10px;
}


@media (min-width: 800px) {
  .site-header nav {
    display: flex;
    align-items: center;
  }

  .half-float {
    width: 49%;
    float: left;
  }
}